{% extends 'base.html' %}


{% block head %}
<title>Ejuma | New Job</title>
{% endblock %}

{% block navbar_type1 %}{% endblock %}{% block navbar_type %}{% endblock %}

{% block content %}


<section>
<div class="container form-group">
{% from "_formhelpers.html" import render_field %}

<div class="content-section well" style='padding-left:20%; padding-right:20%' >
<form method="POST" action="">
    {{ form.csrf_token }}
	<fieldset class="form-group">
	<legend class="border-bottom mb-4">Add new Job</legend>
		<div class="row">
			<div class="col-sm-6 form-group">
				{{ render_field(form.title, class="form-control") }}
			</div>		
        </div>
		
		<div class="row">
			<div class="col-sm-6 form-group">
				{{ render_field(form.description, class="form-control") }}
			</div>		
        </div>	
        
		<div class="row">
			<div class="col-sm-6 form-group">
				{{ render_field(form.duration, class="form-control") }}
			</div>		
        </div>
        
		<div class="row">
			<div class="col-sm-6 form-group">
				{{ render_field(form.amount, class="form-control") }}
			</div>		
        </div>
        
 		<div class="row">
			<div class="col-sm-6 form-group">
				{{ render_field(form.no_of_people, class="form-control") }}
			</div>		
        </div>
        	
	</fieldset>	
    <input type="submit" value="Add Job" class="btn btn-success">
</form>
</div>
</div>
</section>

{% endblock %}

