{% extends 'base.html' %}

{% block head %}
<title>Ejuma | Profile</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/profile.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% endblock %}

{% block navbar_type1 %}{% endblock %}{% block navbar_type %}{% endblock %}

{% block content %}
<section>


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1 class="panel-title">{{ user.firstname }} {{user.lastname }}</h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/static/images/3.jpg" class="img-circle img-responsive"> </div>
                
							<div class=" col-md-9 col-lg-9 "> 
								<table class="table table-user-information">
								<tbody>
									<tr>
										<td>Availability Status:</td>
										<td>{{ user.status }}</td>
									</tr>
									<tr>
										<td>Date of Birth</td>
										<td>{{ user.dob }}</td>
									</tr>
                   
									<tr>
										<td>professional Skills</td>
										<td>{{ user.skills }}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td><a href="mailto:info@support.com">{{ user.email }}</a></td>
									</tr>
									<tr>
										<td>Phone Number</td>
										<td>{{ user.contact }}
									</tr>
                     
								</tbody>
								</table>
                  
							<!--a href="" class="btn btn-primary">View some of my works</a-->
							</div>
						</div>
					</div>
				</div>
            {% if user.id == session.user.id %}
                 <div class="panel-footer">
                        <span class="pull-right">
                            <a href="{{ url_for('edit_profile', user_id=session.user.id) }}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm">Edit Profile <i class="glyphicon glyphicon-edit"></i></a>
                            <!--a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a-->
                        </span>
                    </div>
            {% endif %}
			</div>
		</div>
	</div>
</div>


</section>
{%  endblock %}




